<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./layouts/head') %>
        <title>Class 11 Demo</title>
    </head>
    <header>
        <%- include('./layouts/header') %>
    </header>
    <body>
        <h4>Search Todos</h4>
        <main>
            <ul>-Active Todos-
                <% activeTodos.forEach(item => { %>
                    <li>Id: <%= item.id %> task: <%= item.title %> 
                        <button><a href="/tasks/<%= item.id %>">View</a></button>
                    </li>
               <% }) %>
            </ul>
            <form action="/show" method="post">
                <input type="text" name="search" placeholder="Enter a task id" required>
                <label>ID
                        <input type="radio" name="search" value="ID">
                    </label>    
                    <label>task
                        <input type="radio" name="search" value="todo">
                    </label>                
                <button type="submit">Show</button>
            </form>
        </main>
        <footer>
            <%- include('./layouts/footer') %>
        </footer>
    </body>
</html>