<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./layouts/head') %>
    </head>
    <header>
        <%- include('./layouts/header') %>
    </header>
    <body>
        <h4>Search Todos</h4>
        <main>
            <ul>-Active Todos-
                <% activeTodos.forEach(item => { %>
                    <li>Id: <%= item.id %> task: <%= item.title %> 
                        <button><a href="/tasks/<%= item.id %>">View</a></button>
                    </li>
               <% }) %>
            </ul>
            <form action="/show" method="post">
                <Label> ID 
                <input type="text" name="bananas" placeholder="Enter a task id" required>
                
            </Label>
                <button type="submit">Show</button>
            </form>
        </main>
        <footer>
            <%- include('./layouts/footer') %>
        </footer>
    </body>
</html>